<header class="header">
  <nav class="nav">
    <ul class="header_menu">
      <i class="far fa-clipboard fa-lg title_icon" style="color:#B100FF;"></i>
      <li class="header_menu_title"><%= link_to "Kejiban", root_path, class: "nav-link ", :style=>"font-family: 'Itim', cursive;"%></li>

      <li class="nav-link text-center">ようこそ<%= current_user.name %>さん</li>
      <li>
        <ul class="header_menu_inner">
          <li>
            <%= link_to "#", class: "nav-link" do %>
              <button type="button" class="btn btn-outline-primary">
               <span class="mr-1">投稿</span>
              <i class="fas fa-pen"></i>
              </button>
              
            <% end %>
          </li>
          <div class="dropdown dropleft">
             <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-user-circle fa-lg"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><%= link_to "サインアウト", destroy_user_session_path, class: "nav-link", method: :delete %></li>
          </div>
         </div>         
          
        </ul>
      </li>
    </ul>
  </nav>
</header>
